.DateFilterWrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    width: 700px;
}



button{
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 4px;
    padding: 20px 0;
    background-color: white;
    width: 142px;
    text-align: center;
    cursor: pointer;
    margin-right: 4px;
}

.active{
    background-color: #a1ec7c;
}